form {
	border: none;
}

form .field {
	margin: 1.4rem 0.4rem;
}

form .group {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

form .group input[type] {
	border-radius: 0.4rem 0 0 0.4rem;
}

form .group button {
	border-radius: 0 0.4rem 0.4rem 0;
}

form label {
	display: block;
}
form input[type='checkbox'] + label {
	display: inline-block;
}

form input[type]:not([type='radio']),
button,
textarea {
	padding: 0.4rem 0.8rem;
	font-size: 1.6rem;
	border: 1px solid black;
	border-radius: 0.4rem;
}

textarea {
	height: 30rem;
}

form input[type]:focus,
textarea:focus {
	outline: 1px solid black;
}

form input:not([type='checkbox']):not([type='radio']),
textarea {
	width: 100%;
}

form button {
	background-color: red;
	border-color: red;
	color: white;
}

form footer {
	text-align: right;
}

@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	form input[type]:not([type='checkbox']):not([type='radio']) {
		width: 50%;
	}
}

