@font-face {
	font-family: Bitter;
	src: url(/fonts/Bitter-Regular.ttf);
}

html,
body {
	min-height: 100vh;
	width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 2.4rem;
	font-family: Bitter, sans-serif;
	font-size: 1.8rem;
}

p {
	margin: 1rem 0;
}

ul,
ol {
	margin: 1rem;
	padding-left: 1.2rem;
}

h1,
h2 {
	margin: 1.2rem 0;
}

.error {
	background-color: #ffb0b0;
	color: #8f0000;
	padding: 1rem 1.2rem;
	border-radius: 0.8rem;
}

.error a {
	color: #8f0000;
}

.success {
	background-color: #b0ffb0;
	color: #008f00;
	padding: 1rem 1.2rem;
	border-radius: 0.8rem;
}

.success a {
	color: #008f00;
}

@media (min-width: 641px) {
	body {
		max-width: 80%;
		margin: 0 auto;
	}

	.center {
		text-align: left;
	}
}

@media (min-width: 320px) {
	/* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	body {
		max-width: 50%;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}

