[Unit]
Description=iptvcafe
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/www/iptvcafe.com/
ExecStart=/home/ubuntu/www/iptvcafe.com/bin/start.sh
StandardOutput=append:/var/log/iptvcafe.log
StandardError=append:/var/log/iptvcafe.error.log

[Install]
WantedBy=multi-user.target
